*{
    margin: 0;
    padding: 0;
    font-family: sans-serif ;
    box-sizing: border-box;

}
body{
    background-color: #252526;
}

.zero{
    width: 100%;
    display: flex;
    justify-content:left;
    margin-top: 30px;
    background: #E27F17;
   
}
.inputForm{
    padding: 40px;
    display: flex;
    background: #1E1E1E;
}
.inputForm h2{
    font-size: 30px;
    font-weight: 500;
}
.inputForm .hero{
    position: relative;
    width: 100%;
    margin: 20px;
    color: #1E1E1E;
}
.inputForm .hero input
{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid;
    outline: none;
    resize: none;
    color: #E27F17;
    background: #1E1E1E;
}
.inputForm .hero span{
    position: absolute;
    left: 0;
    padding: 5px;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.6s;
    color: #E27F17;
}
.inputForm .hero h4{
    position:relative;
    left: 0;
    padding: 5px;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    color: #E27F17;
}
.inputForm .hero input:focus ~ span,
.inputForm .hero input:valid ~ span
 {
    color:#E27F17;
    font-size: 18px;
    transform: translateY(-25px);
}
.inputForm .hero input[type="submit"],
.inputForm .hero input[type="reset"]
{
    width: 100px;
    background: #252526;
    color: #e7fdf9;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}

.table {
    margin-top: 30px;
    box-shadow: 0 px 0px 5px #eff4fd;
}

